.his-list{
  @include list-unstyled;
}
.btn-select{
  padding: 8px 15px;
  font-size: 14px;
  line-height: 14px;
  color: #333;
  background: $lightblue;
  border-radius: 30px;
  box-shadow: none;
}
.btn-select:focus{
  outline: none;
  box-shadow: none;
}
.his-datepicker{
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  border: none;
}
.his-datepicker input{
  padding: 8px 15px;
  font-size: 14px;
  line-height: 14px;
  color: #333;
  cursor: pointer;
  background: $lightblue;
  border: none;
  border-radius: 30px;
  box-shadow: none;
}
.his-datepicker::after{
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -.15em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}
.his-datepicker input:focus{
  outline: none;
  box-shadow: none;
}

.his-btn{
  padding: 8px 15px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background-color: #6a76a6;
  border: none;
  border-radius: 30px;
}
.his-btn:focus{
  outline: none;
  box-shadow: none;
}

.his-input{
  padding: 0 15px;
  font-size: 14px;
  line-height: 36px;
  color: #333;
  background: #f2f8ff;
  border: none;
  border-radius: 4px;
}
.his-input:focus{
  outline: none;
  box-shadow: none;
}
.his-textarea{
  padding: 10px 15px;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  vertical-align: middle;
  resize: none;
  background: #f2f8ff;
  border: none;
  border-radius: 4px;
}
.his-textarea:focus{
  outline: none;
  box-shadow: none;
}
